<!DOCTYPE html>




<html>


<head>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>





<body>
    
     <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/about">About</a></li>
            <li> <a href="/schedule">Schedule</a></li>
            <li> <a href="/contact">Contact</a></li>
            <li> <a href="/statistics">Statistics</a></li>
        </ul>
    </nav>

   {% block content %}
    <!-- hero section -->
    <section class="hero">
        <div class="hero__content">
            <h1> Project Unge Toner</h1>
            <p>Et par .</p>
        </div>
    </section>

   {% endblock %}



</body>




</html>